	/********** navbar-styles **********/

	.panel-default:hover{
		box-shadow: rgb(150,150,150) 3px 3px 10px;
	}

	.img1{
            width: 100%;
            height: auto;
          }

	.panel-heading:hover{
		border-radius: 0px 0px 5px 5px;
	}

	.panel-heading{
		border-radius: 0px 0px 5px 5px;
	}

	body{
		margin-top: 60px;
		/*background-image: url('../img/figuras_fondo.png');*/
	}

	.navbar{
		border-radius: 0px;
		margin-bottom: 0px;
		border-bottom: solid 2px #dfdfdf;
		background-color: #668933;
	}

	.navbar-default .navbar-nav>li>a{
	    color: #fff;
	    font-size: 12px;
	}

	.navbar-default .navbar-nav>li>a:hover{
		background: rgba(255, 255, 255,0.1);
	    color: #fff;
	}

	.navbar-default .navbar-nav>li>a.ingresar{
	    color: #ff9800;
	    font-size: 14px;
	    /*text-decoration: underline;*/
	    font-weight: bolder;
	}

	.navbar-default .navbar-nav>li>a.ingresar:hover{
	    color: #ff9800;
	    font-size: 14px;
	    background-color: transparent;
	    text-decoration: underline;
	}

	.navbar-brand{
	   	padding: 0px;
	}

  	.navbar-brand>img{
	    height: 100%;
	    width: auto;
	    margin-left: 10px;
	    padding: 5px 14px;
  	}

  	.navbar-default .navbar-toggle .icon-bar{
  		background-color: #fff;
  	}

  	.navbar-default .navbar-toggle{
    	border-color: #ddd;
	}

	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	    background-color: rgb(226,240,217);
	    color: 000;
	}

	.dropdown-menu {
		background-color: rgb(226,240,217);
	}
  	

  	.registro{
  		margin-right: 20px;
	  	margin-top: 15px;
	  	padding-left: 10px;
	  	padding-right: 10px;
	  	margin-left: 3px;
	  	font-size: 12px;
	  	background-color: #ff6310 important!;
	  	/*box-shadow: 0 3px 0 0 #cb171e;*/
  	}

  	.inicia{
  		text-decoration: underline;
  		font-weight: bold;
  	}
	/********** navbar-styles **********/



	#cursos{

		background-image: url('../img/background-1.png');
		padding: 25px;
		

	}

	#quienes-somos{

		background-color: #ffffff;
		padding: 25px;
	}

	#experiencias{

		background-image: url('../img/background-2.jpg');
		padding: 25px;
	}

	#contacto{

		background-color: #f3f3f6;
		/*background-color: #f2f2e8;*/
		padding: 25px;
	}


	#contacto p{
	font-size: 17px;
	text-align: justify;
	}


	/******** carousel-slides ********/
	.item{
		background-image: url('../img/figuras_fondo.png');
	}

	/*ojo*/
	.carousel{
		border-bottom: solid 2px #dfdfdf;
	}
	/******** carousel-slides ********/

	

	/******** home ********/
	.repeat{
		background-image: url('../img/Cintillo.png');
		background-color: #668933;
		height: 40px; 
		border-bottom: solid 2px #dfdfdf;
	}

	label{
		font-size: 14px;
		font-weight: bold;
	}

	.form-control{
		/*background-color: #f3f3f6;*/
		background-color: #ffffff;
		border-radius: 10px !important;
		border: 2px solid #ddd !important;
		padding: 5px 10px !important;
	}



	textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
	    /*-webkit-box-shadow: inset 0 -1px 0 #7fa57b;
	    box-shadow: inset 0 -1px 0 #7fa57b;*/
	    border: 2px solid #ccc !important;
	    box-shadow: none;
	    
	}

	textarea:hover, textarea.form-control:hover, input.form-control:hover, input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, input[type=number]:hover, [type=text].form-control:hover, [type=password].form-control:hover, [type=email].form-control:hover, [type=tel].form-control:hover, [contenteditable].form-control:hover {
	    border: 2px solid #ccc !important;
	    box-shadow: none;    
	}

	.close{
		color:#fff !important;
	}

	.quitarfloat{
		float: none;
		margin-top: 55px;
	}

	.form-control-feedback{
		margin-top: 10px;
	}

	.error{
		color: red; 
		margin:0px; 
		padding: 0px;
	}

	.contra{
		text-align: right;
		margin-bottom: 10px;
	}

	.exp{
		color: #fff;
		max-width: 50%;
		height: 40px;
		background-color: #668933;
		margin-bottom: 20px;
		border-radius: 5px;
		margin-top: 1px;
	}

	/*footer{
		border-top: solid 1px #dfdfdf;
		background-color: #668933;
		height: auto;
	}*/
	/******** home ********/

	/* footer social icons */
	ul.social-network{
		list-style: none;
		display: inline;
		margin-left:0 !important;
		padding: 0;
	}
	ul.social-network li{
		display: inline;
		margin: 0 5px;
	}

	/* footer social icons */
	.social-network a.icoFacebook:hover{
		background-color:#3B5998;
	}
	.social-network a.icoInstagram:hover{
		background-color:#cd486b;
	}
	.social-network a.icoTwitter:hover{
		background-color:#33ccff;
	}
	.social-network a.icoYouTube:hover{
		background-color:#e81b1b;
	}
	.social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoInstagram:hover i,
	.social-network a.icoYouTube:hover i {
		color:#fff;
	}
	a.socialIcon:hover, .socialHoverClass{
		color:#44BCDD;
	}

	.social-circle li a{
		display:inline-block;
		position:relative;
		margin:0 auto 0 auto;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
		border-radius:50%;
		text-align:center;
		width: 50px;
		height: 50px;
		font-size:20px;
	}
	.social-circle li i{
		margin:0;
		line-height:50px;
		text-align: center;
	}

	.social-circle li a:hover i, .triggeredHover{
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms--transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		-ms-transition: all 0.2s;
		transition: all 0.2s;
	}
	.social-circle i{
		color: #fff;
		-webkit-transition: all 0.8s;
		-moz-transition: all 0.8s;
		-o-transition: all 0.8s;
		-ms-transition: all 0.8s
	}

	/******** responsive ********/
	@media screen and (max-width: 900px){

	.navbar-default .navbar-nav>li>a{
	    font-size: 10px;
	    padding-left: 5px;
	    padding-right: 5px;
	}

	.navbar-default .navbar-nav>li>a.ingresar{
	    /*color: #ff9800;*/
	    font-size: 10px;
	    text-decoration: underline;
	    font-weight: bolder;
	}

	.navbar-default .navbar-nav>li>a.ingresar:hover{
	    color: #ff9800;
	    font-size: 10px;
	    background-color: transparent;
	    text-decoration: underline;
	}

	.registro{
	  	margin-top: 18px;
	  	padding-left: 10px;
	  	padding-right: 10px;
	  	margin-left: 3px;
	  	font-size: 10px;
  	}
		
	}
	/******** responsive ********/

	.btn-success{
    	box-shadow: rgb(150,150,150) 3px 3px;
	}

	a:hover, a:focus{
		text-decoration: none;
	}

	.aside{
		text-align: left;
	}

	.panel-primary>.panel-heading{
	    color: #fff;
	    background-color: #668933;
	    border-color: #dddddd;
	    border-radius: 5px 5px 0px 0px;
	    border-bottom: solid 3px #dfdfdf; 
	}

	/* quienes somos */
	.timeline{
	  list-style: none;
	  padding: 20px 0 20px;
	  position: relative;
	}

	.timeline:before{
	  top: 0;
	  bottom: 0;
	  position: absolute;
	  content: " ";
	  width: 3px;
	  background-color: #eeeeee;
	  left: 50%;
	  margin-left: -1.5px;
	}
	.timeline > li{
	  margin-bottom: 20px;
	  position: relative;
	}
	.timeline > li:before,
	.timeline > li:after{
	  content: " ";
	  display: table;
	}
	.timeline > li:after{
	  clear: both;
	}
	.timeline > li:before,
	.timeline > li:after{
	  content: " ";
	  display: table;
	}
	.timeline > li:after{
	  clear: both;
	}
	.timeline > li > .timeline-panel{
	  width: 50%;
	  float: left;
	  border: 1px solid #d4d4d4;
	  border-radius: 2px;
	  padding: 20px;
	  position: relative;
	  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	}
	.timeline > li.timeline-inverted + li:not(.timeline-inverted),
	.timeline > li:not(.timeline-inverted) + li.timeline-inverted{
	  margin-top: -60px;
	}

	.timeline > li:not(.timeline-inverted){
	padding-right:90px;
	}

	.timeline > li.timeline-inverted{
	padding-left:90px;
	}
	.timeline > li > .timeline-panel:before{
	  position: absolute;
	  top: 26px;
	  right: -15px;
	  display: inline-block;
	  border-top: 15px solid transparent;
	  border-left: 15px solid #ccc;
	  border-right: 0 solid #ccc;
	  border-bottom: 15px solid transparent;
	  content: " ";
	}
	.timeline > li > .timeline-panel:after{
	  position: absolute;
	  top: 27px;
	  right: -14px;
	  display: inline-block;
	  border-top: 14px solid transparent;
	  border-left: 14px solid #fff;
	  border-right: 0 solid #fff;
	  border-bottom: 14px solid transparent;
	  content: " ";
	}
	.timeline > li > .timeline-badge{
	  color: #fff;
	  width: 50px;
	  height: 50px;
	  line-height: 50px;
	  font-size: 1.4em;
	  text-align: center;
	  position: absolute;
	  top: 16px;
	  left: 50%;
	  margin-left: -25px;
	  background-color: #999999;
	  z-index: 100;
	  border-top-right-radius: 50%;
	  border-top-left-radius: 50%;
	  border-bottom-right-radius: 50%;
	  border-bottom-left-radius: 50%;
	}
	.timeline > li.timeline-inverted > .timeline-panel{
	  float: right;
	}
	.timeline > li.timeline-inverted > .timeline-panel:before{
	  border-left-width: 0;
	  border-right-width: 15px;
	  left: -15px;
	  right: auto;
	}
	.timeline > li.timeline-inverted > .timeline-panel:after{
	  border-left-width: 0;
	  border-right-width: 14px;
	  left: -14px;
	  right: auto;
	}
	.timeline-badge.primary{
	  background-color: #2e6da4 !important;
	}
	.timeline-badge.quetzal{
	  background-color: #bfcf83 !important;
	}
	.timeline-badge.success{
	  background-color: #3f903f !important;
	}
	.timeline-badge.warning{
	  background-color: #f0ad4e !important;
	}
	.timeline-badge.danger{
	  background-color: #d9534f !important;
	}
	.timeline-badge.info{
	  background-color: #5bc0de !important;
	}
	.timeline-title{
	  margin-top: 0;
	  color: inherit;
	}
	.timeline-body > p,
	.timeline-body > ul{
	  margin-bottom: 0;
	}
	.timeline-body > p + p{
	  margin-top: 5px;
	}
	/* fin de quienes somos*/

	.tooltip {
		
		filter: alpha(opacity=1);
  		opacity: 1;
  		font-size: 12px;

	}



      .ir-arriba {
	      display:none;
	      padding:15px;
	      padding-top: 12px;
	      background:#024959;
	      font-size:20px;
	      color:#fff;
	      cursor:pointer;
	      position: fixed;
	      bottom:20px;
	      right:20px;
	      border-radius: 3px;
	      opacity: .7;
      }

      .ir-arriba:hover {
	      background:#024959;
	      
	      opacity: 1;
      }



/* Barra de docente*/

	.panel-docente{
		border-radius: 8px;
		margin-bottom: 15px;
		
	}
	
	.panel-docente h5{
		border: solid 5px #e7e7e7;
		padding: 5px;
		color:#065e26;
		border-radius: 8px;
	}

	.panel-docente a{
/*		width: 100%;
		border: solid 3px #162e22;
		background-color:#162e22;
		padding: 3px;
		margin: 15px;
		color: #fff;
		margin-bottom: 15px;
		font-size: 16px;*/
	}

	.elemento-docente{
		background-color:#162e22;
		width: 100%;
		border: 3px solid white;
		padding: 10px;
		border-radius: 10px;
	}
	
	.elemento-docente a{
		width: 100%;
		border: solid 3px #162e22;
		background-color:#162e22;
		padding: 3px;
		margin: 15px;
		color: #fff;
		margin-bottom: 15px;
		font-size: 16px;
	}

	

	/***Inicio card***/
	.wrimagecard{	
		margin-top: 0;
	    margin-bottom: 1.5rem;
	    text-align: left;
	    position: relative;
	    background: #fff;
	    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
	    border-radius: 4px;
	    transition: all 0.3s ease;
	}
	.wrimagecard .fa{
		position: relative;
	    font-size: 70px;
	}
	.wrimagecard-topimage_header{
	padding: 20px;
	}
	a.wrimagecard:hover, .wrimagecard-topimage:hover {
	    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
	}
	.wrimagecard-topimage a {
	    width: 100%;
	    height: 100%;
	    display: block;
	}
	.wrimagecard-topimage_title {
	    padding: 20px 24px;
	    height: 80px;
	    padding-bottom: 0.75rem;
	    position: relative;
	}
	.wrimagecard-topimage a {
	    border-bottom: none;
	    text-decoration: none;
	    color: #525c65;
	    transition: color 0.3s ease;
	}


/***Fin card***/



	.circle-button1 {
      box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
      border: .5em solid #80ccd5;
      font-size: 1em;
      line-height: 1.1em;
      color: #ffffff;
      background-color: #9ee4ed;
      margin: auto;
      border-top-right-radius: 50%;
      border-bottom-left-radius: 50%;
      height: 12em;
      width: 12em;
      position: relative;
    }
    .circle-button1:hover {
      color:#ffffff;
      background-color: #80ccd5;
      text-decoration: none;
      border-color: #9ee4ed;
      
    }


	.circle-button2 {

      box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
      border-left: 6px solid #f5d667;
      border-top: 6px solid #94c160;
      border-right: 6px solid #c7191c;
      border-bottom: 6px solid #1b60a3;
      font-size: 12px;
      line-height: 1.1em;
      color: #000000;
      background-color: #eff7e9;
      margin: auto;
      height: 50%;
      width: 100%;
      position: relative;
      border-radius: 10px; 
    }
    .circle-button2:hover {
      color:#668933;
      font-color:#668933;
      background-color: #ffffff;
      text-decoration: none;
      border: 6px solid #668933;
      
    }



.card {
	margin-top: 15px;
    font-size: 1em;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #a0a0a0, 0 0 0 1px #a0a0a0;
    background-color: #e3fcde;
    width: 100px;
    align-content: center;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgb(0, 0, 0);
	box-shadow: none;
	background-color: #eeeeee;

}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.20em;
    font-weight: 700;
    line-height: 1.2857em;
}

.profile {
    position: absolute;
    top: -22px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
    left: 10px;
}



.profile-avatar {
    display: block;
    bottom: 5px;
    width: 100%;
    height: auto;
    border-radius: 50%;

}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}


#actividades{
	border: solid 3px #e7e7e7;
	background-color:#e7e7e7;
	padding: 3px;
	margin-top: -5px;
	width: 95%;
	margin-left: 7px;
	margin-right: 7px;

}


	#actividades a{
		width: 100%;
		padding: 5px;
		font-size: 16px;
		color: #000;
	}

	.actividad-docente{
		border-bottom:3px solid #DADADA;
		width: 100%;
		padding: 8px
		
	}


	#mochila{
	border: solid 3px #e7e7e7;
	background-color:#e7e7e7;
	padding: 3px;
	margin-top: -5px;
	width: 95%;
	margin-left: 7px;
	margin-right: 7px;

	}


	#mochila a{
		width: 100%;
		padding: 5px;
		font-size: 16px;
		color: #000;
	}

	.mochila-docente{
		border-bottom:3px solid #DADADA;
		width: 100%;
		padding: 8px;
	}

	.marco-color{
		border-left: 3px solid #f5d667;
	    border-top: 3px solid #94c160;
	    border-right: 3px solid #c7191c;
	    border-bottom: 3px solid #1b60a3;
		border-radius: 10px;
		margin: 20px;
	}
	


	#info-curso{
	
	background-color:#e7e7e7;
	padding: 3px;
	margin-top: -5px;
	width: 95%;
	margin-left: 7px;
	margin-right: 7px;

	}


	#info-curso a{
		width: 100%;
		padding: 5px;
		font-size: 16px;
		color: #000;
	}

	.mochila-docente{
		border-bottom:3px solid #DADADA;
		width: 100%;
		padding: 8px
	}

	.marco-color{
		border-left: 3px solid #f5d667;
	    border-top: 3px solid #94c160;
	    border-right: 3px solid #c7191c;
	    border-bottom: 3px solid #1b60a3;
		border-radius: 10px;
		margin: 20px;
	}
	
	.ir-arriba {
          display:none;
          padding:15px;
          padding-top: 12px;
          background:#e51c23;
          font-size:20px;
          color:#fff;
          cursor:pointer;
          position: fixed;
          bottom:20px;
          right:20px;
          border-radius: 3px;
          opacity: .7;
          }

          .ir-arriba:hover {
          background:#128313;
          
          opacity: 1;
          }
	

	.scrollbar {
    	height: 520px;
    	width: 98%;
    	overflow-y: scroll;
    	margin-bottom:50px;
    	}

	.scrollbar::-webkit-scrollbar {
	    height: 11px;
    	    width: 8px;
		background:#f7f4f4;      
		-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,.3);
		 -webkit-border-radius: 10px; 
	}
	.scrollbar::-webkit-scrollbar-thumb{     
		 background:#d4ded2;   -webkit-border-radius:10px;      
		  border:1px solid #aaa;  
		  }

	










